%h2 Request Id Details
%table
  %thead
  - @student_by_id.each do |record|
    %tr
      %th UIN
      %td= record.uin
    %tr
      %th Account Status
      %td= @isVerified 
    %tr
      %th Full Name
      %td= record.name
    %tr  
      %th Major
      %td= record.major
    %tr  
      %th Class
      %td= record.classification
    %tr  
      %th Minor
      %td= record.minor
    %tr  
      %th Course ID
      %td= record.course_id
    %tr  
      %th Section ID
      %td= record.section_id
    %tr  
      %th Expected Graduation
      %td= record.expected_graduation
    %tr  
      %th Request Semester
      %td= record.request_semester
    %tr  
      %th State
      %td= record.state
    %tr  
      %th Notes by Student
      %td= record.notes
      
      
    %tr
      %th Admin Priority
      //%td= record.admin_priority
      //%td   
      //  = label :student_request, :admin_priority, 'Priority*'
      //%td 
      //%td= select :student_request, 'admin priority', @requestPriority
      %td= record.admin_priority
      //%td= select_tag("admin_priority", options_for_select(@allPriorityStates))
      
      
    %tr  
      %th Notes by Admin(seen by admins only)
      %td= record.admin_notes
    %tr
    %tr
      %th Links to logs
      %td= (link_to 'Logs', {:action => "view_logs", :controller => "student_requests", :id => record.request_id}, :method => :get)
    %tr
      %th{ :class => "update_admin" } Action
      %td
        %center
          = form_tag('/student_requests/updaterequestbyadmin', method: "put") do
            = hidden_field_tag 'id', record.request_id
            //%textarea{:name => "notes_for_student", :placeholder => "Notes for student", :class => "notes"}
            %input{:name => "notes_for_myself", :placeholder => "Notes for Myself", :class => "notes",
              :value => (record.admin_notes if record.admin_notes)}
            = select_tag("admin_priority", options_for_select(@allPriorityStates))
            /= select_tag("state", options_for_select(@allAdminStates))
            = submit_tag 'Update'
        
        
        
        
        
        
        
        
        
        
        