- unless session[:uin].nil?
  = render 'layouts/login'
%body{:onload => "pageinit()"}
  %h1 Making New Request
  .form_new_request
    // this is student_request new view with submit to student_request create action
    = form_tag student_requests_path, :id => 'new_request' do
      %table{:border => "0"}
        %tr
          %td
            = label :student_request, :name, 'Full Name'
          %td  
            = @students[0].name
        %tr
          %td
            =@level_student
        %tr
          %td  
            = label :student_request, :major, 'Major'
          %td
            = @students[0].major

        %tr
          %td   
            = label :student_request, :classification, 'Classification'
          %td
            = @students[0].classification
            
        %tr
          %td    
            = label :student_request, :minor, 'Minor'
          %td  
            = @students[0].minor

        %tr
          %td 
            = label :student_request, :email, 'Email'
          %td  
            = @students[0].email

        %tr
          %td   
            = label :student_request, :expected_graduation, 'Expected Graduation*'
          %td 
            = select :student_request, 'expected_graduation', @YearSemester 
        %tr
          %td   
            = label :student_request, :request_semester, 'Request Semester*'
          %td  
            = select :student_request, 'request_semester', @requestSemester, :required => true
        %tr
          %td   
            = label :student_request, :course_id, 'Course Id* (CSCE)'
          %td  
            // = text_field :student_request, 'course_id', class: 'input-field', :required => true, placeholder: 'i.e. to choose course CSCE 629-600, enter 629', :pattern => "[0-9]{3}", :oninvalid => "this.setCustomValidity('Please enter 3 numbers of Course ID')", :oninput => "this.setCustomValidity('')", :required => true
            // ---------------19 fall ---------------------------
            = select :student_request, 'course_id', @requestCourse, :required => true, :id => "course_id"
            :javascript 
              var section1 = '<option selected="selected" value=""> Choose Section </option><option value="600">600</option><option value="601">601</option>';
              var section2 = '<option selected="selected" value=""> Choose Section </option><option value="000">000</option>';
              alert("hello")
              $(document).ready(function(){
                $("select#course_id").on('change',function(){
                  alert("hello from inner")
                  if($(this).val()=="629"){
                    $("select#section_id").html(section1);
                  }else if($(this).val()=="606"){
                    $("select#section_id").html(section2);
                  }
                });
              });
            // ---------------19 fall ---------------------------
        %tr
          %td   
            = label :student_request, :section_id, 'Section Id(s)*'
          %td  
            // = text_field :student_request, 'section_id', class: 'input-field', :required => true, placeholder: 'i.e. enter comma seperated section id(s) ', :pattern =>"([0-9]{3})(,[0-9]{3})*",:oninvalid => "this.setCustomValidity('Please enter comma seperated 3 numbers of Section(s) ID')",  :oninput => "this.setCustomValidity('')", :required => true
            // ---------------19 fall ---------------------------
            = select :student_request, 'section_id', @requestSection, :required => true, :id => "section_id"
            // ---------------19 fall ---------------------------            
        %tr
          %td   
            = label :student_request, :priority, 'Priority*'
          %td 
            = select :student_request, 'priority', @requestPriority
        %tr
          %td   
            = label :student_request, :notes, 'Notes '
          %td  
            = text_area :student_request, 'notes', class: 'notes'
      
      = submit_tag 'Save', :id => 'request_button_left'
      
    =  form_tag(students_show_path, method: :get) do
      = submit_tag 'Cancel', :id => 'request_button_right'
       
